<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1074601223366-qfatrs5fr361prp78vv335ndd848fr6i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1074601223366-qfatrs5fr361prp78vv335ndd848fr6i</string>
	<key>API_KEY</key>
	<string>AIzaSyBsUmPF45Xje0NgSVMCc1QPi38WU-MvEUM</string>
	<key>GCM_SENDER_ID</key>
	<string>1074601223366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anjanadunukara.myapp</string>
	<key>PROJECT_ID</key>
	<string>bmas-c4109</string>
	<key>STORAGE_BUCKET</key>
	<string>bmas-c4109.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074601223366:ios:d020cd1b5fcf5c659623c7</string>
</dict>
</plist>